* { box-sizing: border-box;
    margin: 0;
    padding: 0; }

html { font-family: sans-serif; 
       font-size: 100%; 
       scroll-behavior: smooth; }

a { text-decoration: none; }

/* .border-debugger { border: 1px solid red; }  */

.italic { font-style: italic; }

.bold { font-weight: bold; }

.flex { display: flex; }

.flex-column { flex-direction: column; }

.flex-row-horizontal-flex-end { justify-content: flex-end; }

.flex-grow { flex-grow: 1; }

.flex-wrap { flex-wrap: wrap; }

.justify-content-center { justify-content: center; }

.align-items-center { align-items: center; }

.fade-color { background: linear-gradient(90deg, #90c9fb 5%, #EEEEEE 100%); }

.separator { padding: 0rem 0.5rem 0rem 0.5rem; 
             color: #AAAAAA; }

.label { color: #777777;
         text-transform: uppercase;
         font-size: 0.9rem;
         letter-spacing: 0.1rem; }

/* Header Classes */

.header-container { justify-content: flex-end; 
                    padding: 1.5rem; 
                    gap: 1rem; }

/* Resume Classes */

.resume-container { padding: 0 1.5rem 1.5rem 1.5rem; }

.resume-pdf-version-link-top-padding { padding-top: 1rem; }

.resume-list-item { margin-left: 3rem; }

.resume-topmost-hr-div { padding: 0.15625rem; }

.resume-section-gap { gap: 2rem; }

.resume-item-gap { gap: 0.6rem; }

/* Portfolio Classes */

.portfolio-container { padding: 0 1.5rem 1.5rem 1.5rem; }

.portfolio-section-gap { gap: 2rem; }

.portfolio-gap { gap: 1rem; }

.portfolio-tech-icon-list-flex-gap { gap: 0.5rem; }

.portfolio-project-hr-div { padding: 0.125rem; }

.portfolio-list-item { margin-left: 1rem; }

.portfolio-tech-icon-container { padding-top: 0.25rem; }

.portfolio-tech-icon { height: 1.8rem;
                       width: auto;
                       display: block; }

.portfolio-project-image { width: 9.375rem;
                           height: auto;
                           border-radius: 5%; }

/* About classes */

.section { padding: 3em; }

.section-title { padding-bottom: 1em; }

.section-paragraph { padding-bottom: 1rem; }

.section-list { padding: 0 0 1rem 1rem; }

.section-background { background-color: #CCCCCC; }

.skill-icon { width: auto; 
              height: 25px; }

.skills-container { gap: 1rem; }

.skill-container { gap: 0.25rem; }

.projects-container { gap: 1.5rem; }

.project { 
           /* flex: 1; */
           width: 300px;
           /* max-width: 250px; */
           border-radius: 5%;
           background-color: #DDDDDD; 
           overflow: hidden; }

.project-inner-container { padding: 1rem; 
                           gap: 1rem; }

.project-image-container { 
                           aspect-ratio: 16 / 9; 
                           /* width: 100%;  */
                           /* height: 5em;  */
                           background-color: #d7ebfc; 
                           /* background: url(./images/icons/dragons-brew-icon.png);
                           background-size: cover;  */
                        }
                        
.project-image { 
                 width: 100%; 
                 height: 100%; 
                 /* max-height: 250px;  */
                 object-fit: contain;
                 /* border-radius: 5% 5% 0 0;  */ 
                }

.project-links { gap: 1rem; }

.project-button { border: none; 
                  border-radius: 1rem;
                  background-color: black;
                  color: white;
                  padding: 0.5rem 1rem; 
                  cursor: pointer; 
                  white-space: nowrap; }

.project-button:hover { background-color: white;
                        color: black; }

.fun-prompt { padding-left: 5em; }