:root {
    --section-vertical-whitespace: 3rem; 
}

* { box-sizing: border-box;
    margin: 0;
    padding: 0; }

html { font-family: sans-serif; 
       font-size: 100%; 
       scroll-behavior: smooth; }

a { text-decoration: none; }

/* .border-debugger { border: 1px solid red; }  */

.italic { font-style: italic; }

.bold { font-weight: bold; }

.flex { display: flex; }

.flex-row { flex-direction: row; }

.flex-column { flex-direction: column; }

.flex-wrap { flex-wrap: wrap; }

.flex-nowrap { flex-wrap: nowrap; }

.justify-content-center { justify-content: center; }

.align-items-center { align-items: center; }

.align-items-end { align-items: end; }

.standard-padding-bottom { padding-bottom: 1rem; }

.fade-color { background: linear-gradient(90deg, #90c9fb 5%, #EEEEEE 100%); }

.label { color: #777777;
         text-transform: uppercase;
         font-size: 0.9rem;
         letter-spacing: 0.1rem; }

.whitespace-nowrap { white-space: nowrap; }

/* Header Classes */

.header-container { justify-content: flex-start; 
                    padding-top: 0.5rem; 
                    gap: 1rem; }

.header-personal-website-link { justify-content: flex-end; }

/* Resume Classes */

.resume-page-body-padding { padding: 1.5rem; }

.resume-list-item { margin-left: 3rem; }

.resume-topmost-hr-div { height: 1px;
                         background: #AAAAAA; }

.space-below-topmost-hr-div { padding-top: 1rem; }

.resume-section-gap { gap: 2rem; }

.resume-item-gap { gap: 0.6rem; }

/* About classes */

.about-page-body-padding { padding: 1.5rem; }

.topmost-section { padding-bottom: var(--section-vertical-whitespace); }

.section { padding-bottom: var(--section-vertical-whitespace); }

.section-title-container { padding-bottom: var(--section-vertical-whitespace); }

.section-title { text-transform: uppercase; 
                 letter-spacing: 10px; }

.section-title-left-hr { width: 3em; 
                         height: 1px; 
                         background: #AAAAAA; 
                         margin-right: 15px; }

.section-title-right-hr { width: 100%; 
                         height: 1px; 
                         background: #AAAAAA; }

.section-paragraph { padding-bottom: 1rem; }

.characteristics-grid-container { display: grid; 
                                  grid-template-rows: 1fr 1fr 1fr 1fr; 
                                  grid-template-columns: 25px 200px; 
                                  row-gap: 0.5rem;
                                  column-gap: 1rem; }

.toolbox-outer-container { gap: 3rem; }

.toolbox-inner-container { gap: 1rem; }

.toolbox-grid-container { display: grid; 
                          grid-template-rows: repeat(1fr, 4);
                          grid-template-columns: 1.875rem 6.25rem 1.875rem 6.25rem;
                          /* grid-template-columns: 30px 100px 30px 100px;  */
                          row-gap: 0.3rem; 
                          column-gap: 0.3rem; } 

.container-border-radius { border-radius: 1rem; }

.icon { width: auto; 
        height: 25px; }

.email-icon { height: 22.5px;
              width: auto; }

.github-icon { height: 26.9px;
               width: auto; }

.linkedin-icon { height: 27.5px;
                 width: auto; }

.mongo-db-icon { width: auto; 
                 height: 27px; }

.express-js-icon { width: auto; 
                   height: 20px; }

.vercel-icon { width: auto; 
               height: 23px; }

.icon-text-container { gap: 0.25rem; }

.about-me-intro { font-size: 2rem; }

.about-me-description-text { font-size: 1rem; }

.about-me-links { gap: 1.5rem; 
                  padding-top: 1rem; }

.philosophy-content-gap { gap: 1rem; }

.projects-container { gap: 1.5rem; }

.project { width: 18.75rem;
           background-color: #EEEEEE; 
           overflow: hidden; }

.project-inner-container { padding: 1rem; 
                           gap: 1rem; }

.project-image-container { height: 7em;
                           background-color: #d7ebfc; 
                           /* padding: 1rem;  */
                        }
                        
.project-image { width: 100%;
                 height: 100%; 
                 object-fit: cover; }

.project-title-and-links-container { gap: 0.3rem; }

.project-paragraph-container { height: 3.5rem; }

.project-features-container { height: 11.5rem; overflow: auto; }

.project-used-technologies-gap { gap: 0.5rem; }

.project-list-padding-left { padding-left: 1rem; }

.project-buttons { gap: 1rem; }

.project-button { border: none; 
                  border-radius: 1rem;
                  background-color: black;
                  color: white;
                  padding-top: 0.5rem;
                  padding-right: 1rem;
                  padding-bottom: 0.5rem;
                  padding-left: 1rem; 
                  cursor: pointer; 
                  white-space: nowrap; }

.project-button:hover { background-color: white;
                        color: black; }

.fun-prompt { padding-left: 2rem; }

.iframe-container { position: relative;
                    overflow: hidden; 
                    width: 100%; 
                    padding-top: 56.25%; }

.responsive-iframe { position: absolute;
                     top: 0; 
                     right: 0;
                     bottom: 0; 
                     left: 0; 
                     width: 100%; 
                     height: 100%; }